.frnly_input_adaptive {
   margin-bottom:.75rem;
    input{
        border: 1px solid #bdc7d8;
        -webkit-border-radius: 5px;
        color: #333;
        width: 100%;
        padding: .5rem .75rem;
        font-size: 1rem;
        line-height: 1.25rem;
        height: 3rem;
    }
  }