.input-adaptive {
	margin: .7rem 0;
	position: relative;
}
.input-adaptive label {
	cursor: text;
	display: block;
	left: .75rem;
	line-height: 1.25rem;
	opacity: .8;
	overflow: hidden;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	top: .5rem;
	transition: all .2s ease-in-out,font-size .2s ease-in-out;
	white-space: nowrap;
	width: 70%;
	z-index: 1;
}
.input-adaptive label.required:after {
	color: red;
	content: " *";
}
.input-adaptive label.active {
	background: #fff;
	font-size: .7rem;
	left: .2rem;
	line-height: 1rem;
	opacity: 1;
	padding: 0 .2rem;
	top: -.5rem;
	width: auto;
}
.input-adaptive input,
.input-adaptive select,
.input-adaptive textarea {
	font-size: .85rem;
	height: 38px;
	line-height: 1.25rem;
	padding: .5rem .75rem;
	width: 100%;
}
.input-adaptive input:focus,
.input-adaptive select:focus,
.input-adaptive textarea:focus {
	outline: none;
}
.input-box-adaptive-style {
	display: block;
	font-size: .85rem;
	line-height: 1.5;
	padding: .5rem .75rem;
	position: absolute;
	top: 0;
	width: 100%;
}
.no-margin-input {
	margin: 0!important;
}
.input-search-container .search-categories {
	display: flex;
	justify-content: center;
}
.input-search-container .search-categories .category-item {
	color: #3f454a;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 16px;
}
.input-search-container .search-categories .category-item.selected {
	border-bottom: 2px solid #f59c1a;
	color: #f59c1a;
	cursor: default;
	font-weight: 700;
}
.input-search-container .search-categories.white .category-item {
	color: #fff;
}
.input-search-container .search-categories.white .category-item.selected {
	border-bottom: 2px solid #d60;
	color: #d60;
}
.input-search-container .search-categories.mobile .category-item {
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 16px;
}
.input-search-container .search-box {
	background-color: #f7f7f7;
	border-radius: 32px;
	border: 1px solid #ddd;
	color: #222;
	display: flex;
	height: 60px;
	min-width: 970px;
	position: relative;
	width: 100%;
}
.input-search-container .search-box .search-box-fields {
	display: flex;
	width: calc(100% - 64px);
}
.input-search-container .search-box .search-box-fields .search-field:after {
	border-right: 2px solid #ccc;
	bottom: 15px;
	content: "";
	position: absolute;
	right: 0;
	top: 15px;
}
.input-search-container .search-box .search-box-fields .search-field:last-child:after {
	border: none;
}
.input-search-container .search-box .search-field {
	padding: 16px 10px 10px;
	position: relative;
}
.input-search-container .search-box .search-field .search-field-label {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: .04em;
	line-height: 1.5;
	padding-bottom: 2px;
	text-align: left;
}
.input-search-container .search-box .search-field .input-adaptive {
	margin: 0;
}
.input-search-container .search-box .search-field .input-adaptive label {
	background: none!important;
}
.input-search-container .search-box .search-field .input-adaptive input,
.input-search-container .search-box .search-field .input-adaptive select {
	background: none!important;
	border: 0!important;
	display: block!important;
	text-overflow: ellipsis!important;
	width: 100%!important;
}
.input-search-container .search-box .search-field .input-adaptive input:focus,
.input-search-container .search-box .search-field .input-adaptive select:focus {
	background: none!important;
}
.input-search-container .search-box .search-box-button {
	padding: 4px 2px;
	position: absolute;
	right: 0;
}
.input-search-container .search-box .search-box-button button {
	background: #f59c1a;
	border-radius: 100%;
	color: #fff;
}
.input-search-container .search-box .search-box-button button span {
	line-height: 30px;
}
.input-search-container .search-box-mini {
	background: #fff;
	border-radius: 32px;
	border: 1px solid #ddd;
	color: #222;
	cursor: pointer;
	display: flex;
	height: 44px;
	min-width: 500px;
	position: relative;
}
.input-search-container .search-box-mini:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,.18)!important;
}
.input-search-container .search-box-mini .search-box-fields {
	display: flex;
	width: calc(100% - 44px);
}
.input-search-container .search-box-mini .search-box-fields .search-field:after {
	border-right: 2px solid #ccc;
	bottom: 10px;
	content: "";
	position: absolute;
	right: 0;
	top: 10px;
}
.input-search-container .search-box-mini .search-box-fields .search-field:last-child:after {
	border: none;
}
.input-search-container .search-box-mini .search-field {
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.input-search-container .search-box-mini .search-box-button {
	padding: 1px;
	position: absolute;
	right: 0;
}
.input-search-container .search-box-mini .search-box-button button {
	background: #f59c1a;
	border-radius: 100%;
	color: #fff;
	padding: 6px;
}
.input-search-container .search-box-mini-mobile {
	background-color: #fff;
	border-radius: 32px;
	border: 1px solid #ddd;
	color: #222;
	cursor: pointer;
	display: flex;
	height: 40px;
	min-width: 100%;
	position: relative;
}
.input-search-container .search-box-mini-mobile .search-text {
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 44px);
}
.input-search-container .search-box-mini-mobile .search-box-button {
	padding: 1px;
	position: absolute;
	right: 0;
}
.input-search-container .search-box-mini-mobile .search-box-button button {
	background: #f59c1a;
	border-radius: 100%;
	color: #fff;
	padding: 7px;
}
.input-search-container .search-box-mobile .search-field {
	padding: 6px 10px;
	position: relative;
}
.input-search-container .search-box-mobile .search-field .search-field-label {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: .04em;
	line-height: 16px;
	padding-bottom: 2px;
	text-align: left;
}
.input-search-container .search-box-mobile .search-box-button {
	padding: 6px 10px;
}
.input-search-container .search-box-mobile .search-box-button button {
	background: #f59c1a;
	border-radius: 30px;
	color: #fff;
	display: block;
	width: 100%;
}
.public-web .navbar-brand>img {
	height: 25px;
}
.public-web .brand-logo,
.public-web .brand-logo img {
	height: 40px;
}
.public-web .home-section {
	padding: 30px 0;
	text-align: center;
}
.public-web .home-section .home-text {
	font-size: 30px;
	font-weight: 800;
	line-height: 45px;
	margin-bottom: 40px;
	width: 100%;
}
.public-web .home-section .search-box-wrap {
	padding: 40px 20px;
}
.public-web .section {
	padding: 50px;
}
.public-web .section .section-title {
	display: block;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	margin: 50px auto;
	text-align: center;
}
@media screen and (max-width:768px){
	.public-web .navbar-brand>img {
		height: 20px;
	}
	.public-web .brand-logo,
	.public-web .brand-logo img {
		height: 34px;
	}
	.public-web .home-section {
		padding: 30px 15px;
	}
	.public-web .home-section .home-text {
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	.public-web .home-section .search-box-wrap {
		padding: inherit;
	}
	.public-web .section {
		padding: 40px 20px;
	}
	.public-web .section .section-title {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
}
